.mimicard-head {
  font: normal normal bold 34px/48px Segoe UI;
  letter-spacing: 0.68px;
  color: #363636;
}
.minorcard-para {
  font: normal normal normal 20px/26px Segoe UI;
  letter-spacing: 0.4px;
  color: #363636;
}
