.borderline {
  border-right: 1px solid #888;
}
.sales-hrline {
  display: none;
}
@media screen and (max-width: 750px) {
  .borderline {
    border: none;
  }
  .sales-hrline {
    display: block;
  }
}
