.tool-head {
  font: normal normal bold 40px/42px Segoe UI;
  letter-spacing: 2.5px;
  text-align: center;
  color: #745ce1;
}
.tool-para {
  font: normal normal normal 20px/28px Segoe UI;

  color: #000000;
}
.toolImage {
  width: 68rem;
  height: auto;
}
@media screen and (max-width: 990px) {
  .tool-head {
    font: normal normal bold 36px/40px Segoe UI;
    letter-spacing: 2.2px;
  }
}
@media screen and (max-width: 760px) {
  .tool-head {
    font: normal normal bold 30px/38px Segoe UI;
    letter-spacing: 1.8px;
  }
  .tool-para {
    font: normal normal normal 16px/24px Segoe UI;
  }
}
@media screen and (max-width: 520px) {
  .tool-head {
    font: normal normal bold 25px/30px Segoe UI;
  }
}
