body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --font-family: "Segoe UI";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blue-clr {
  background-color: #09abeb;
}
.orange-clr {
  background-color: #f46718;
}
.yellow-clr {
  background-color: #fdc51a;
}

.navyblue-clr {
  background-color: #343f72;
}
