.nav-link {
  color: #343f72;
  font: normal normal 600 18px/30px Segoe UI;
}
.dropdown-head {
  background-color: #fff;
  color: #343f72;
  border: none;
  font: normal normal 600 18px/30px Segoe UI;
  margin-bottom: 3px;
}

.nav-contact {
  background-color: #343f72;
  margin-top: 80px;
  color: #fff;
  height: 40px;
}
.navcontact-number::after {
  content: "|";
  margin: 0px 5px;
}
.nav-contact .navcontact-number {
  padding-top: 8px;
}

.nav-contact .navcontact-mail {
  padding-top: 8px;
}

.navBrand {
  padding-bottom: 15px;
}
.brand-Image {
  margin-left: 0px;
  height: 50px;
}
.link-margin {
  margin-left: 35px;
}
.nav-dropdown {
  z-index: 2;
}
.noshow {
  display: none;
}
@media screen and (max-width: 990px) {
  .links {
    padding-top: 50px;
  }
}
@media screen and (max-width: 950px) {
  .nav-contacts {
    font-size: small;
  }
}
@media screen and (max-width: 670px) {
  .nav-contacts {
    font-size: 10px;
  }
}
/* ************************************************ */
@media screen and (max-width: 575px) {
  .nav-contact .navContactIcon {
    width: 20px;
    height: 20px;
    margin-top: 8px;
  }
  .nav-contact .navcontact-number {
    font-size: 15px;
  }
  .nav-contact .navcontact-mail {
    font-size: 15px;
  }
}
@media screen and (max-width: 570px) {
  .navbar {
    padding: 0 15px;
  }
  .dropdown-head {
    color: #343f72;
    font: normal normal 500 12px/22px Segoe UI;
  }
  .navbar-toggler {
    width: 40px;
    height: 35px;
    position: relative;
  }
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 3px;
    left: 3px;
  }
  /* .nav-contact {
    margin-top: 60px;
    height: 30px;
  } */
  .links {
    padding-top: 10px;
  }
  .link-margin {
    margin: 0px 5px;
    font-size: small;
  }
}
@media screen and (max-width: 400px) {
  .brand-Image {
    margin-left: 10px;
  }
  .navbar-toggler {
    width: 15px;
    height: 25px;
    position: relative;
  }
  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1px;
    left: 2px;
  }
}
